<%- include("header") -%>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
  </ol>

  <!-- Slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/3.jpg" alt="Image 1">
    </div>
    <div class="carousel-item">
      <img src="images/1.jpg" alt="Image 2">
    </div>
    <div class="carousel-item">
      <img src="images/2.jpg" alt="Image 3">
    </div>
  </div>

  <!-- Controls -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<div class = "BMI">
  <h3>BMI</h3>
  <p>
BMI (Body Mass Index) is a measure of body fat based on an individual's weight and height. It is calculated by dividing a
person's weight in kilograms by the square of their height in meters. The resulting value indicates the relative weight
status and helps categorize individuals into different weight categories, such as underweight, normal weight, overweight,
 or obese. BMI is commonly used as a screening tool to assess the risk of weight-related health issues. However, it is important
 to note that BMI is a general indicator and does not account for other  factors such as muscle mass or body composition.
 </p>
 <p>
   Since you already have a brief idea what BMI is how about trying it to try

  <a href="/Features">click here</a>
   </p>
</div>


<%- include("footer") -%>
