<%- include("header") -%>

<form class="login" action="/signup" method="post">
  <h2><u>Sign up</u> </h2>
  <div class="">
    <label for="Name">Enter Your UserName</label>
    <input type="text" name="name" placeholder="Name">
  </div>
  <div class="">
    <label for="">Enter Your Password</label>
    <input type="password" name="password" placeholder="Password">

  </div>
  <div class="">
    <button type="submit" class="btn btn-primary">Submit</button>

  </div>


</form>

<%- include("footer") -%>
